body {
  background: #333;
  color: #ccc;
}

.titlebox blockquote:first-child {
  background: linear-gradient(#333,#111) !important;
  box-shadow: 0px 1px 3px #000;
  -moz-box-shadow: 0px 1px 3px #000;
  -webkit-box-shadow: 0px 1px 3px #000;
  border-top: 1px solid #FF6600;
}

#header-bottom-right a, #header-bottom-right .separator, #header-bottom-right .user {
  color: #ccc;
  text-transform: uppercase;
}

.titlebox blockquote ul:nth-of-type(1) li:first-child {
  background-position: 46px 4px;
  font-size: 11px;
  color: #ccc;
  text-transform: uppercase;
}

.titlebox blockquote ul li {
  background: #111;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
  border-bottom: 1px solid #222;
  color: #FF6600;
}

.titlebox blockquote ul li a:hover {
  color: #F60;
}

.titlebox blockquote ul:nth-of-type(1) li {
  width: 0px;
}

#sr-header-area .selected a {
  color: #FF6600;
}

#sr-header-area {
  box-shadow: 0px 2px 10px #FF6600,0px 1px 1px black;
  background: linear-gradient(#333,#111) !important;
  border-bottom: 1px solid #ff6600;
}

#sr-more-link {
  background: linear-gradient(#333,#111) !important;
}

.tabmenu li.selected a {
  border: 0px;
  border-bottom: 0px;
  background-color: #FF6600;
  color: black;
}

.tabmenu li a {
  padding: 5px 15px 4px;
  text-transform: uppercase;
  background-color: #333;
}

.tabmenu li a:hover {
  background-color: #777;
}

.side {
  border-left: 3px solid #F60;
  border-bottom: 3px solid #F60;
  background-color: #111;
  box-shadow: inset 0 0 10px #000;
  -webkit-box-shadow: inset 0 0 10px #000;
  -moz-box-shadow: inset 0 0 10px #000;
}

.side a {
  color: #ccc;
}

.titlebox .users-online .number {
  border: 1px solid #FF802B;
  box-shadow: 0px 0px 2px black;
  background: #f60;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px #f60,0px 0px 0px #000;
  padding: 3px 3px;
}

.titlebox .users-online .number:hover {
  background: #ff6600;
  box-shadow: 0px 0px 1px black,0px 0px 6px #F60;
  padding: 1px 3px;
  border-radius: 6px;
}

span.subscribers span.number {
  text-shadow: 0px 0px 5px #DA5A00;
  color: #f60;
}

span.subscribers span.number:before {
  border-left: 3px solid #f60;
  content: "";
  margin: -2px;
  padding-right: 5px;
}

.fancy-toggle-button .remove {
  color: #777 !important;
  background: #222 !important;
}

.fancy-toggle-button .remove:hover {
  box-shadow: 0px 0px 2px black,0px 0px 0px white,inset 0px 0px 10px rgba(0,0,0,.5),inset 0px 0px 0px rgba(238,240,223,.5),inset 0px 0px 0px rgba(0,0,0,.5);
  color: #ccc !important;
}

.link {
  border: 1px solid #1E1E1E !important;
  background-color: #242424;
}

.link:hover {
  background-color: #222 !important;
  box-shadow: 0 0 5px black;
  border: 1px solid #444 !important;
}

.link .flair {
  margin-top: 0px;
}

.link .flat-list {
  padding: 4px 0px 0px 0px;
}

.flair.flair-pc {
  background-color: #656565;
}

.flair.flair-pc:before {
  background-color: #303030;
}

.listing-page .linklisting .thing.linkflair {
  border-left: 3px #f60 solid !important;
}

.listing-page .linklisting .thing.linkflair:hover {
  background-color: #222 !important;
  box-shadow: 0 0 5px black;
  border: 1px solid #444 !important;
}

.thing .title.loggedin:visited, .thing .title.click, .thing .title:visited, .thing .title.loggedin.click, .thing .title.loggedin.click:visited {
  color: #ccc;
}

.thing .title:visited:hover, .thing .title:visited:focus, .thing .title.loggedin.click:hover, .thing .title.loggedin.click:focus { 
  color: white !important;
}
.entry .buttons li a {
  background: #282828;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 3px; 
}

.tagline {
  color: #999;
  font-size: small;
}

.tagline a {
  color: #ddd;
}

time {
  color: #ddd;
}

.thing .title.loggedin:hover, .thing .title.loggedin:focus {
  color: #F60;
}

.thing .title.loggedin {
  color: #FF9E48;
}

.link.promotedlink.promoted {
  background-color: #222;
  border: none !important;
  opacity: 0.5;
  transition: opacity 0.75s ease-in-out;
}

.link.promotedlink.promoted:hover {
  opacity: 1.0;
}

.titlebox h6:nth-of-type(1) {
  background-color: #222;
  color: #ccc;
  border: 0px;
}

.sidecontentbox .title h1 {
  color: #F60;
}

.titlebox h1 {
  background: #242424 !important;
  color: #F60;
  text-transform: uppercase;
  box-shadow: 0px 0px 3px black;
  border-bottom: 1px solid black;
  border-top: 1px solid #444;
  margin-top: 15px !important;
  border-radius: 0px !important;
}

form.toggle.flairtoggle {
  background: linear-gradient(#333,#222) !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
  border: 0px;
  color: #ccc;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.titlebox .tagline {
  background: linear-gradient(#222,#111);
  border-left: 0;
  border-bottom: 0;
  border-right: 0;
  color: #ccc;
  margin: 8px 11px 8px 0px;
  padding: 5px;
  text-transform: uppercase;
  border-bottom-left-radius: 0
  border-bottom-right-radius: 0;
}

.titlebox .tagline a {
  color: #ccc;
}

a.flairselectbtn {
  opacity: 1;
}

.drop-choices a.choice:hover {
  background-color: #111;
  color: #F60 !important;
}

.srdrop .choice.bottom-option {
  border-top: 1px solid #F60;
}

.drop-choices {
  border: 1px solid #F60;
  border-top: 0px;
}

#sr-header-area .drop-choices.srdrop {
  background: linear-gradient(#111,#333) !important;
}

.stickied .title {
  color: #FF7800 !important;
}

.stickied .title:hover {
  color: #F60 !important;
}

.stickied .title:visited:hover {
  color: #F60 !important;
}

#searchexpando {
  background: #333;
}

.title[href*="spoiler"], .title[href*="leak"] {
  color: transparent !important;
}

.title[href*="spoiler"]:hover, .title[href*="leak"]:hover {
  color: #F44336 !important;
}

a[href*="spoiler"].title, a[href*="leak"].title, a[href*="spoilers"].title, a[href*="leaks"].title {
  background: #151515;
}

.RES-keyNav-activeElement1, .commentarea .RES-keyNav-activeElement1 .md, .commentarea .RES-keyNav-activeElement1.entry .noncollapsed {
  background-color: transparent !important;
}

.link .usertext .md {
  border: 0px;
  background: #202020;
  max-width: 100%;
  color: #DDD;
}

.link .usertext .md a {
  color: #F60;
}

.RESDialogSmall > h3 {
  background-color: #2B2B2B;
  border-bottom: 1px solid #1E1E1E;
  color: white;
}

.usertext-edit .RESDialogSmall .md.RESDialogContents {
  background-color: #242424 !important;
  color: #DDD !important;
}

.RESDialogSmall.livePreview {
  border: 1px solid #1E1E1E !important;
  background: #242424 !important;
}

.RESSubscriptionButton {
  color: #F60 !important;
  border: 1px solid #1e1e1e !important;
  transition: all 0.25s ease-in-out;
  text-transform: uppercase;
  background-color: #2B2B2B;
}

.RESSubscriptionButton:hover {
  background-color: #222 !important;
}

a {
  color: #F60;
}

.markdownEditor .edit-btn:not(.btn-macro) {
  border: 1px solid #ddd !important;
  background-color: #ccc !important;
}

.markdownEditor-wrapper {
  width: 100%;
}

.usertext-edit textarea {
  width: 100%;
  height: 120px;
}

.usertext-edit {
  width: 65% !important;
}

textarea {
  background: #ccc;
  color: black;
  border: 1px solid #ddd !important;
  transition: all 0.25s ease-in-out;
}

textarea:focus, textarea:hover {
  border: #fff;
  box-shadow: inset 0px 0px 5px black
}

.usertext button {
  background: #F38740;
  font-weight: bold;
  text-shadow: 1px 1px 0px #777;
  transition: all 0.25s ease-in-out;
  text-transform: uppercase;
}

.usertext button.save:hover, .usertext button.save:focus {
  background: #F60;
}

.thing.comment {
  background: #242424 !important;
  border: 1px solid #1E1E1E !important;
}

.md {
  color: #ccc;
  max-width: 100%;
}

.md a {
  color: #F60 !important;
}

.md a:hover {
  color: #FF9E48 !important;
}

.md a:visited {
  color: #FFCC7C !important;
}

.md a:visited:hover {
  color: #F60 !important;
}

.comment .md p>a:visited {
  color: #FFCC7C !important;
}

.comment .md p>a:visited:hover {
  color: #F60 !important;
}

.comment ul.flat-list.buttons {
  padding-top: 5px !important;
}

.comment .author {
  color: #FF9E48;
}

span.score {
  color: #FF9E48 !important;
}

.thing.comment .thing.comment {
  background: #353535 !important;
}

.thing.comment .thing.comment .thing.comment {
  background: #242424 !important;
}

.thing.comment .thing.comment .thing.comment .thing.comment {
  background: #353535 !important;
}

.thing.comment .thing.comment .thing.comment .thing.comment .thing.comment {
  background: #242424 !important;
}

.thing.comment .thing.comment .thing.comment .thing.comment .thing.comment .thing.comment {
  background: #353535 !important;
}

.thing.comment .thing.comment .thing.comment .thing.comment .thing.comment .thing.comment .thing.comment {
  background: #242424 !important;
}

.linkinfo {
  border: none;
  color: #ccc;
  background: #242424;
}

.tagline, .side .content li {
  line-height: 1.4 !important;
}

.md code, .md pre {
  border: 1px solid #555;
  background-color: #444;
}

.md blockquote, .md del {
  color: white;
}

.md blockquote, .help blockquote {
  border-left: 3px solid #F60;
}

.expando-button {
  background: none;
}











